openapi: 3.0.0
info:
  contact:
    email: support@verygoodsecurity.com
  description: |
    The VGS Vault HTTP API is used for storing, retrieving, and managing sensitive data (aka Tokenization) within a VGS Vault.

    The VGS API is organized around REST. Our API is built with a predictable resource-oriented structure, uses JSON-encoded requests and responses, follows standard HTTP verbs/responses, and uses industry standard authentication.

    ## What is VGS

    Storing sensitive data on your company’s infrastructure often comes with a heavy compliance burden. For instance, storing payments data yourself greatly increases the amount of work needed to become PCI compliant. It also increases your security risk in general. To combat this, companies will minimize the amount of sensitive information they have to handle or store.

    VGS provides multiple methods for minimizing the sensitive information that needs to be stored which allows customers to secure any type of data for any use-case.

    **Tokenization** is a method that focuses on securing the storage of data. This is the quickest way to get started and is free. [Get started with Tokenization](https://www.verygoodsecurity.com/docs/tokenization/getting-started).

    **Zero Data** is a unique method invented by VGS in 2016 that securely stores data like Tokenization, however it also removes the customer’s environment from PCI scope completely providing maximum security, and minimum compliance scope. [Get started with Zero Data](https://www.verygoodsecurity.com/docs/getting-started/before-you-start).

    Additionally, for scenarios where neither technology is a complete solution, for instance with legacy systems, VGS provides a compliance product which guarantees customers are able to meet their compliance needs no matter what may happen. [Get started with Control](https://www.verygoodsecurity.com/docs/control).

    ## Learn about Tokenization

    - [Create an Account for Free Tokenization](https://dashboard.verygoodsecurity.com/tokenization)
    - [Try a Tokenization Demo](https://www.verygoodsecurity.com/docs/tokenization/getting-started)
    - [Install a Tokenization SDK](https://www.verygoodsecurity.com/docs/tokenization/client-libraries)

    ### Authentication

    This API uses `Basic` authentication and is implemented using industry best practices to ensure the security of the connection. Read more about [Identity and Access Management at VGS](https://www.verygoodsecurity.com/docs/vault/the-platform/iam)

    Credentials to access the API can be generated on the
    [dashboard](https://dashboard.verygoodsecurity.com) by going to the Settings
    section of the vault of your choosing.

    [Docs » Guides » Access credentials](https://www.verygoodsecurity.com/docs/settings/access-credentials)

    ## Resource Limits

    ### Data Limits

    This API allows storing data up to 32MB in size.

    ### Rate Limiting

    The API allows up to 3,000 requests per minute. Requests are associated with
    the vault, regardless of the access credentials used to authenticate the
    request.

    Your current rate limit is included as HTTP headers in every API response:

    | Header Name             | Description                                              |
    |-------------------------|----------------------------------------------------------|
    | `x-ratelimit-remaining` | The number of requests remaining in the 1-minute window. |

    If you exceed the rate limit, the API will reject the request with HTTP
    [429 Too Many Requests](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/429).

    ### Errors

    The API uses standard HTTP status codes to indicate whether the request
    succeeded or not.

    In case of failure, the response body will be JSON in a predefined format.
    For example, trying to create too many aliases at once results in the
    following response:

    ```json
    {
        "errors": [
            {
                "status": 400,
                "title": "Bad request",
                "detail": "Too many values (limit: 20)",
                "href": "https://api.sandbox.verygoodvault.com/aliases"
            }
        ]
    }
    ```
  title: Vault HTTP API
  version: 1.0.0
  x-logo:
    url: images/vgs-logo.png
    href: https://www.verygoodsecurity.com
    altText: VGS Logo
externalDocs:
  description: Find out more about VGS
  url: https://www.verygoodsecurity.com/
servers:
- description: Sandbox
  url: https://api.sandbox.verygoodvault.com
- description: Live
  url: https://api.live.verygoodvault.com
- description: Live EU
  url: https://api.live-eu-1.verygoodvault.com
security:
- basicAuth: []
tags:
- description: |
    Unique IDs that retain all the essential information about the data
    without compromising its security.
  name: aliases
  x-displayName: Aliases
paths:
  /aliases:
    get:
      description: |
        Given a list of aliases, retrieves all associated values stored in the
        vault.

        **NOTE:** This endpoint may expose sensitive data. Therefore, it is
        disabled by default. To enable it, please contact your VGS account
        manager or drop us a line at
        [support@verygoodsecurity.com](mailto:support@verygoodsecurity.com).
      operationId: revealMultipleAliases
      parameters:
      - description: Comma-separated list of aliases to reveal.
        example:
        - "tok_sandbox_5UpnbMvaihRuRwz5QXwBFw,tok_sandbox_9ToiJHedw1nE1Jfx1qYYgz"
        explode: true
        in: query
        name: q
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/revealMultipleAliases_200_response'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/revealMultipleAliases_default_response'
          description: Something went wrong
      summary: Reveal multiple aliases
      tags:
      - aliases
      x-codeSamples:
      - lang: Shell
        label: cURL
        source: |
          curl https://api.sandbox.verygoodvault.com/aliases?q={{alias1}},{{alias2}} \
           -u "$USERNAME:$PASSWORD"
      x-accepts: application/json
    post:
      description: |
        Stores multiple values at once & returns their aliases.

        Alternatively, this endpoint may be used to associate additional (i.e.
        secondary) aliases with the same underlying data as the reference
        alias specified in the request body.

        **NOTE:** You cannot reference the same alias more than once in a
        single request.
      operationId: createAliases
      requestBody:
        content:
          application/json:
            examples:
              A:
                summary: Create a new alias
                value:
                  data:
                  - value: 122105155
                    classifiers:
                    - bank-account
                    format: UUID
                    storage: PERSISTENT
              B:
                summary: Reference an existing alias
                value:
                  data:
                  - alias: tok_sandbox_bhtsCwFUzoJMw9rWUfEV5e
                    format: RAW_UUID
                    storage: PERSISTENT
            schema:
              $ref: '#/components/schemas/CreateAliasesRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createAliases_201_response'
          description: Created
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/revealMultipleAliases_default_response'
          description: Something went wrong
      summary: Create aliases
      tags:
      - aliases
      x-codeSamples:
      - lang: Shell
        label: cURL
        source: |
          curl https://api.sandbox.verygoodvault.com/aliases \
           -X POST \
           -u "$USERNAME:$PASSWORD" \
           -H 'Content-Type: application/json' \
           -d '{
              "data": [
              {
                "value": "test@example.com",
                "classifiers": [
                  "email_address"
                ],
                "format": "UUID"
                "storage": "VOLATILE"
              }
              ]
            }'
      x-content-type: application/json
      x-accepts: application/json
  /aliases/{alias}:
    delete:
      description: |
        Removes a single alias.
      operationId: deleteAlias
      parameters:
      - description: Alias to operate on.
        explode: false
        in: path
        name: alias
        required: true
        schema:
          example: tok_sandbox_bhtsCwFUzoJMw9rWUfEV5e
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/revealMultipleAliases_default_response'
          description: Something went wrong
      summary: Delete alias
      tags:
      - aliases
      x-codeSamples:
      - lang: Shell
        label: cURL
        source: |
          curl https://api.sandbox.verygoodvault.com/aliases/{{alias}} \
           -X DELETE \
           -u "$USERNAME:$PASSWORD"
      x-accepts: application/json
    get:
      description: |
        Retrieves a stored value along with its aliases.

        **NOTE:** This endpoint may expose sensitive data. Therefore, it is
        disabled by default. To enable it, please contact your VGS account
        manager or drop us a line at
        [support@verygoodsecurity.com](mailto:support@verygoodsecurity.com).
      operationId: revealAlias
      parameters:
      - description: Alias to operate on.
        explode: false
        in: path
        name: alias
        required: true
        schema:
          example: tok_sandbox_bhtsCwFUzoJMw9rWUfEV5e
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/revealAlias_200_response'
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/revealMultipleAliases_default_response'
          description: Something went wrong
      summary: Reveal single alias
      tags:
      - aliases
      x-codeSamples:
      - lang: Shell
        label: cURL
        source: |
          curl https://api.sandbox.verygoodvault.com/aliases/{{alias}} \
           -u "$USERNAME:$PASSWORD"
      x-accepts: application/json
    put:
      description: |
        Apply new classifiers to the value that the specified alias is
        associated with.
      operationId: updateAlias
      parameters:
      - description: Alias to operate on.
        explode: false
        in: path
        name: alias
        required: true
        schema:
          example: tok_sandbox_bhtsCwFUzoJMw9rWUfEV5e
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAliasRequest'
      responses:
        "204":
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/revealMultipleAliases_default_response'
          description: Something went wrong
      summary: Update data classifiers
      tags:
      - aliases
      x-codeSamples:
      - lang: Shell
        label: cURL
        source: |
          curl https://api.sandbox.verygoodvault.com/aliases/{{alias}} \
           -X PUT \
           -u "$USERNAME:$PASSWORD" \
           -H 'Content-Type: application/json' \
           -d '{
              "data": {
                "classifiers": [
                  "credit-cards", "PII"
                ]
              }
            }'
      x-content-type: application/json
      x-accepts: application/json
components:
  parameters:
    alias:
      description: Alias to operate on.
      explode: false
      in: path
      name: alias
      required: true
      schema:
        example: tok_sandbox_bhtsCwFUzoJMw9rWUfEV5e
        type: string
      style: simple
  responses:
    ApiErrorsResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/revealMultipleAliases_default_response'
      description: Something went wrong
  schemas:
    ApiError:
      properties:
        status:
          description: HTTP status code.
          type: integer
        title:
          description: High-level reason of why the request failed.
          type: string
        detail:
          description: Explanation of what exactly went wrong.
          type: string
        href:
          description: Request URL.
          type: string
      type: object
    RevealedData:
      example:
        aliases:
        - format: UUID
          alias: tok_sandbox_bhtsCwFUzoJMw9rWUfEV5e
        - format: UUID
          alias: tok_sandbox_bhtsCwFUzoJMw9rWUfEV5e
        classifiers:
        - bank-account
        - bank-account
        created_at: 2019-05-15T12:30:45Z
        storage: PERSISTENT
        value: "122105155"
      properties:
        value:
          description: Decrypted value stored in the vault.
          example: "122105155"
          type: string
        classifiers:
          description: List of tags the value is classified with.
          items:
            example: bank-account
            type: string
          type: array
        aliases:
          description: List of aliases associated with the value.
          items:
            $ref: '#/components/schemas/Alias'
          type: array
        created_at:
          description: "Creation time, in UTC."
          example: 2019-05-15T12:30:45Z
          format: date-time
          type: string
        storage:
          default: PERSISTENT
          description: |
            Storage medium to use.

            VOLATILE results in data being persisted into an in-memory data store for one hour which is required for PCI compliant storage of card security code data.
          enum:
          - PERSISTENT
          - VOLATILE
          type: string
      type: object
    Alias:
      example:
        format: UUID
        alias: tok_sandbox_bhtsCwFUzoJMw9rWUfEV5e
      properties:
        alias:
          description: Opaque string used to substitute the raw value.
          example: tok_sandbox_bhtsCwFUzoJMw9rWUfEV5e
          type: string
        format:
          $ref: '#/components/schemas/AliasFormat'
      type: object
    AliasFormat:
      description: |
        Format of the generated alias string.

        See [Alias Formats](#section/Introduction/Alias-Formats) for details.
      enum:
      - FPE_ACC_NUM_T_FOUR
      - FPE_ALPHANUMERIC_ACC_NUM_T_FOUR
      - FPE_SIX_T_FOUR
      - FPE_SSN_T_FOUR
      - FPE_T_FOUR
      - GENERIC_T_FOUR
      - NON_LUHN_FPE_ALPHANUMERIC
      - NUM_LENGTH_PRESERVING
      - PFPT
      - RAW_UUID
      - UUID
      - VGS_FIXED_LEN_GENERIC
      example: UUID
      type: string
    CreateAliasesRequest:
      example:
        data:
        - null
        - null
        - null
        - null
        - null
      properties:
        data:
          items:
            $ref: '#/components/schemas/CreateAliasesRequest_data_inner'
          maxItems: 20
          minItems: 1
          type: array
      required:
      - data
      type: object
    CreateAliasesRequestNew:
      properties:
        value:
          description: Raw value to encrypt & store in the vault.
          example: "122105155"
          type: string
        classifiers:
          description: List of tags to classify the value with.
          items:
            example: bank-account
            type: string
          type: array
        format:
          $ref: '#/components/schemas/AliasFormat'
        storage:
          default: PERSISTENT
          description: |
            Storage medium to use.

            VOLATILE results in data being persisted into an in-memory data store for one hour which is required for PCI compliant storage of card security code data.
          enum:
          - PERSISTENT
          - VOLATILE
          type: string
      required:
      - format
      - value
      type: object
    CreateAliasesRequestReference:
      properties:
        alias:
          description: Existing alias to use as a reference.
          example: tok_sandbox_bhtsCwFUzoJMw9rWUfEV5e
          type: string
        format:
          $ref: '#/components/schemas/AliasFormat'
      required:
      - alias
      - format
      type: object
    UpdateAliasRequest:
      example:
        data:
          classifiers:
          - bank-account
          - bank-account
      properties:
        data:
          $ref: '#/components/schemas/UpdateAliasRequest_data'
      required:
      - data
      type: object
    revealMultipleAliases_200_response:
      example:
        data:
          tok_sandbox_5UpnbMvaihRuRwz5QXwBFw:
            value: "476673481"
            classifiers:
            - bank-account
            aliases:
            - value: tok_sandbox_5UpnbMvaihRuRwz5QXwBFw
              format: UUID
            created_at: 2019-08-10T11:45:30Z
            storage: VOLATILE
          tok_sandbox_9ToiJHedw1nE1Jfx1qYYgz:
            value: "750360025"
            classifiers:
            - bank-account
            aliases:
            - value: tok_sandbox_9ToiJHedw1nE1Jfx1qYYgz
              format: UUID
            created_at: 2019-08-10T11:45:30Z
            storage: VOLATILE
      properties:
        data:
          additionalProperties:
            $ref: '#/components/schemas/RevealedData'
          example:
            tok_sandbox_5UpnbMvaihRuRwz5QXwBFw:
              value: "476673481"
              classifiers:
              - bank-account
              aliases:
              - value: tok_sandbox_5UpnbMvaihRuRwz5QXwBFw
                format: UUID
              created_at: 2019-08-10T11:45:30Z
              storage: VOLATILE
            tok_sandbox_9ToiJHedw1nE1Jfx1qYYgz:
              value: "750360025"
              classifiers:
              - bank-account
              aliases:
              - value: tok_sandbox_9ToiJHedw1nE1Jfx1qYYgz
                format: UUID
              created_at: 2019-08-10T11:45:30Z
              storage: VOLATILE
          type: object
      type: object
    revealMultipleAliases_default_response:
      properties:
        errors:
          description: List of errors that occurred while processing the request.
          items:
            $ref: '#/components/schemas/ApiError'
          minItems: 1
          type: array
      type: object
    createAliases_201_response:
      example:
        data:
        - aliases:
          - format: UUID
            alias: tok_sandbox_bhtsCwFUzoJMw9rWUfEV5e
          - format: UUID
            alias: tok_sandbox_bhtsCwFUzoJMw9rWUfEV5e
          classifiers:
          - bank-account
          - bank-account
          created_at: 2019-05-15T12:30:45Z
          storage: PERSISTENT
          value: "122105155"
        - aliases:
          - format: UUID
            alias: tok_sandbox_bhtsCwFUzoJMw9rWUfEV5e
          - format: UUID
            alias: tok_sandbox_bhtsCwFUzoJMw9rWUfEV5e
          classifiers:
          - bank-account
          - bank-account
          created_at: 2019-05-15T12:30:45Z
          storage: PERSISTENT
          value: "122105155"
      properties:
        data:
          description: List of stored values along with their aliases.
          items:
            $ref: '#/components/schemas/RevealedData'
          type: array
      type: object
    revealAlias_200_response:
      example:
        data:
        - aliases:
          - format: UUID
            alias: tok_sandbox_bhtsCwFUzoJMw9rWUfEV5e
          - format: UUID
            alias: tok_sandbox_bhtsCwFUzoJMw9rWUfEV5e
          classifiers:
          - bank-account
          - bank-account
          created_at: 2019-05-15T12:30:45Z
          storage: PERSISTENT
          value: "122105155"
      properties:
        data:
          description: The retrieved value.
          items:
            $ref: '#/components/schemas/RevealedData'
          maxItems: 1
          minItems: 1
          type: array
      type: object
    CreateAliasesRequest_data_inner:
      oneOf:
      - $ref: '#/components/schemas/CreateAliasesRequestNew'
      - $ref: '#/components/schemas/CreateAliasesRequestReference'
    UpdateAliasRequest_data:
      example:
        classifiers:
        - bank-account
        - bank-account
      properties:
        classifiers:
          description: List of tags to classify the value with.
          items:
            example: bank-account
            type: string
          type: array
      required:
      - classifiers
      type: object
  securitySchemes:
    basicAuth:
      description: The default authentication schema.
      scheme: basic
      type: http
x-tagGroups:
- name: Data Management
  tags:
  - aliases

